/* Footer Container */
.footer {
  background: var(--primary-dark, #430964);
  color: white;
  padding: 20px;
}

/* Container Styles */
.footer-container {
  width: 100%;
  /*max-width: 1440px;  Max width for the container */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Move address to the end */
}
.brand-header{
  width: 100%;
  max-width: 1440px;
}
/* Contact Section */
.contact-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Rectangle Icon */
.rectangle-icon {
  width: 40px;
  height: 4px;
  margin: 5px 20px 0px 0px;
  background: var(--primary-active, #D100C9);
}

/* Title */
.title {
  color: var(--shades-200, #F5F5F5);

/* heading/is-2 */
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 56px */
}

.title p {
  margin: 0;
}

/* Address */
.address {
  width: 25%;
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
}

.card-section {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Additional Link */
.additional-link {
  width: 25%;
  color: #FFF;
font-family: Inter;
font-size: 15px;

margin-top: 40px;
font-style: normal;
font-weight: 300;
}

.additional-link a {
  color: white;
  text-decoration: none;
  align-items: center;
  
}
.additional-link p{
  margin-top: 20px;
}
/* Card Section */
.card-section {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-between;
}

.card {
  width: 182px;
  height: 126px;
  flex-shrink: 0;
  color: white; /* Set the text color to white */
  background: var(--primary-dark, #430964);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none; /* Remove text decoration */
}

.card a {
  color: white; /* Set the link color to white */
  text-decoration: none; /* Remove text decoration for links */
}


/* Copyright */
.copyright {
  width: 100%;
  color: white;
  text-align:right;
  margin: -30px 0px 0px -7px;
}
