
.navbar-style {
  background: #70259B;
  color: black;
}

.logo-style {
  margin-left: 80px;
  margin-right: auto;
}

.button-style {
  margin-left: auto;
  margin-right: 80px;
  border-radius: 35%;
}
